html,
body {
  width: 100%;
  height: 100%;
  margin: 0
}

.site-header {
  display: flex;
  padding: 0 2rem;
}

.site-nav {
  margin: auto 0 auto auto;
}

.site-nav-list {
  list-style: none;
}

.site-nav-list-item {
  display: inline-block;
}

.site-nav-list-item:not(:last-child) {
  margin-right: 1.5em;
}
