

$overlay-black: rgba(#000, .3);
$overlay-black-light: rgba(#000, .1);
$gray-light: #d9d7d9;
$gray-lightest: #ddd;
$gray: #9c9a9c;
$gray-dark: #383638;
$orange: #ff6347;
$white: #fff;
$blue: #2864ab;
$blue-dark: darken($blue, 10%);
$blue-light: #3686e4;
