
/* stylelint-disable */
$overlay-black: rgba(#000, .3);
$overlay-black-light: rgba(#000, .1);
$gray-light: #d9d7d9;
$gray-lightest: #ddd;
$gray: #999;
$gray-dark: #383638;
$orange: #ff6347;
$white: #fff;
$less-white: #ededed;
$blue: #2864ab;
$blue-black: #222833;
$blue-dark: darken($blue, 10%);
$blue-light: #3686e4;
$white-dark: #f9f9f9;//#eee;
$black: #555;

$pink: #FE049A;
$blue-new: $gray; //#00B9FE;
/* stylelint-enable */
