
<!-- head -->
<%- include ./../partials/head.ejs %>
<!-- /head -->

<!-- body -->
<main class="wrap wrap-main">
  <%- include ../partials/header.ejs %>
  <section class="wrap wrap-body">
    <h2>About</h2>
    <p>This is the base Snap theme. You can find out more info about customizing your Snap theme, as well as basic Snap usage in the documentation at <a href="http://snap.io">snap.io</a></p>

    <p>You can find the source code for the Snap new theme at:  snap / Gators</p>

    <p>You can find the source code for Jekyll at  snap / snap</p>
  </section>



<!-- footer -->
<%- include ../partials/footer.ejs %>
<!-- /footer -->
<!-- /body -->
