
<!-- head -->
<%- include ./../partials/head.ejs %>
<!-- /head -->

<!-- body -->
<main class="wrap wrap-main">
  <%- include ./../partials/header.ejs %>
  <section class="wrap wrap-body">
    <h2>Cool</h2>
    <p>Lorem ipsum dolor sit amet, vis ea illud primis, quo elaboraret efficiendi ut. Mei graeco mentitum at. Nec regione dolorum no. Cu semper commodo qui. Est ut idque elitr, nusquam legendos eos te.

    Ut discere nostrum definitiones pri. Habeo minim discere an sit. Ne omnes theophrastus vis, at nusquam dignissim eam, esse novum est ea. Mel ea mutat dictas salutandi, nec alii harum aliquip cu.

    Dico pertinacia deseruisse eos id, et usu everti impetus, ex mea dicam albucius efficiantur. Tritani accumsan probatus ei est. Aeterno fabulas nam id, ne pro doming latine repudiare. At mea lorem splendide, quodsi tractatos te vix. Mazim epicuri voluptatum vel ea, elitr erroribus ocurreret eum no, integre volumus postulant et vix.

    Id vis nihil congue complectitur. Et iudicabit euripidis quo. Lobortis periculis intellegam mel eu, eam ignota eripuit ancillae id. Cu platonem hendrerit eos, aliquam invenire mea no, alii partem sed ex.

    Id suas natum liberavisse nec, an eum eius dolorem qualisque. Assum platonem vis et, sea no errem debitis constituam. Vix at indoctum eloquentiam. In usu brute definitionem, eam id summo graecis.</p>
  </section>
<!-- /body -->

<!-- footer -->
<%- include ./../partials/footer.ejs %>
<!-- /footer -->
