<!doctype html>
<html>
  <head>
    <title>My React App</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <%- include partials/header.ejs %>
    <h1>Yo SON!</h1>

    <!-- <script src="./public/index_bundled.js"</script> -->
  </body>
</html>
