<!-- head -->
<%- include partials/head.ejs %>
<!-- /head -->

<!-- body -->
<main class="wrap wrap-main">
  <%- include partials/header.ejs %>
  <%- include partials/list.ejs %>
</main>
<!-- /body -->

<!-- footer -->
<%- include partials/footer.ejs %>
<!-- /footer -->
