<header class='site-header'>
  <h1>DW</h1>
  <nav class="nav site-nav">
    <ul class="site-nav-list">
      <% for(var i = 0; i < nav.length; i++) {%>
        <li class="site-nav-list-item"><a href="<%=nav[i].Link%>"><%=nav[i].Text%></a></li>
      <%}%>
    </ul>
  </nav>
</header>
